  </main>
  <footer>
    <section id="bottom">
      <div>
        <p>
          <a href="/">Home</a> | <a href="/request-form.html">Request a List</a> | <a href="/making.html">Making Inspiration</a>
        </p>
      </div>
      <div>
        <p>
          Action for Refugees 2019. A huge thank you to Alex Tran for her digital wizardry and C&T who provide support to
          arts and tech projects for their invaluable input to this project. <br> Photography/film content: Kia Aria and Elahe
          Nadali whose insight and creativity have been invaluable in the development of 36000 Humans.
        </p>
      </div>
      <div>
        <p>
          <a href="https://www.facebook.com/36000humans/">Facebook</a> | <a href="https://www.instagram.com/36000humans/">Instagram</a> | <a href="https://twitter.com/36000humans/">Twitter</a>
        </p>
      </div>
    </section>
  </footer>
</body>

</html>
