<section id="interactive">
  <div>
    <h1>Interactive Stories for Refugee Week 2020</h1>
    <p>
      36000 Humans looks to honour and remember all those who have died seeking
      sanctuary in Europe. Since Refugee Week 2019 individuals, groups and
      organisations have been responding to The List of names of those who have
      died, creating, growing, writing and making in their memory. For Refugee
      Week 2020, we launch a new online platform that will begin to weave
      together those responses into and interactive experience with some of the
      stories of those who have lost their lives.
    </p>
    <a
      href="https://prospero.digital/library/6xjgXSMuAQx3eR2D9">
      <img
      src="../assets/images/backpack.jpg"
      alt="backpack with many items around it including a phone, watch, passport, book and wallet"
      />
    </a>
  </br></br>
    <a
      href="https://prospero.digital/library/6xjgXSMuAQx3eR2D9"
      >Click here to experience the stories</a
    >
    <p>
      The interactive experience runs on a website called Prospero. To view it,
      you need to create an account, but it's free and just takes a few seconds.
      Follow the link and all will be explained.
    </p>
  </div>
</section>
