<!-- <div id="gif">
  <img src="" alt="GIF">
</div> -->
<section id="making">
  <div>
    <p>
      We've collected together a few different creative responses to value and remember with dignity the people who have
      lost their lives seeking refuge in Europe.
    </p>
    <p>
      We want you to be a part of this story. Share what you make on social media with the hashtags #36000Humans and
      #SafePassage to inspire others with your creations. Together, we can raise our voices in the name of Safe
      Passage for everyone seeking sanctuary in the future.
    </p>
  </div>
  <hr>
  <section id="examples">
    <div>
      <div>
        <h1>
          Plant Sunflowers
        </h1>
        <img src="/assets/images/sunflowers.jpg" alt="plant sunflowers">
      </div>
      <div>
        <p>
          We hope that the sunflowers will be grown in front gardens throughout Bearwood to help us commemorate those refugees who lost their lives on their journey to Europe. Help us honour and remember them by taking a photo of your sunflower and sharing with the hashtag #WeCanPlantSunflowers
        </p>
      </div>
      <div>
        <h1>
          Kusudama Flowers
        </h1>
        <img src="/assets/images/kusudama.jpg" alt="kusudama flowers">
      </div>
      <div>
        <p>
          Kusudama originate from ancient Japanese culture and are an important part of origami. They are created by making individual petals from paper (we use recycled magazines and books!) and carefully gluing them together to make a flower.
        </p>
      </div>
      <div>
        <h1>
          Walk 36,000 Steps
        </h1>
        <img src="/assets/images/steps.jpg" alt="walk 36,000 steps">
      </div>
      <div>
        <p>
        Walk or run 36000 steps (approximately 18 miles) in memory of someone from the list. You can do this individually or share the steps between a small group of walkers or runners.
        </p>
      </div>
      <div>
        <h1>
          Origami Hearts
        </h1>
        <img src="/assets/images/hearts.jpg" alt="origami hearts">
      </div>
      <div>
        <p>
        Make origami hearts to honour and remember the 36000 Humans who have lost their lives trying to escape war, persecution and poverty.
        </p>
      </div>
      <div>
        <h1>
          Schools Pack
        </h1>
        <img id="school" src="/assets/images/schools-poster.png" alt="blue illustation titled school's pack">
      </div>
      <div>
        <p>
          We have created two School’s Packs for our 36000 Humans campaign to enable both Primary and Secondary teachers
          to
          easily link the project to specific areas of the curriculum. We would be delighted if you could share any work
          that you do with us, by sending a photo or uploading it to social media using the #36000Humans hashtags. And
          if
          you’re able to, please post news of your work on school blogs or include it in newsletters to help spread the
          word
          and encourage others to engage with the project. Download the Schools Packs below.
        </p>
        <a href="/assets/pdf/ks1-2-pack.pdf"><button>Download KS1 + 2</button></a>
        <a href="/assets/pdf/ks3-4-pack.pdf"><button>Download KS3 + 4</button></a>
        <p>
          The inspiration for 36000 Humans is The List - of all those who have died whilst seeking sanctuary in Europe.
          We
          want to honour and remember them. For your work to be included in the memorial of those refugees who have
          died,
          you can request names from The List <a href="request-form.html">here</a>
        </p>
      </div>
    </div>
  </section>
</section>
<section class="video">
  <div>
    <h1>
      Speak
    </h1>
  </div>
  <div>
    <img id="ratio" src="https://placehold.it/16x9" alt="" />
    <iframe width="340" height="190" src="https://www.youtube-nocookie.com/embed/zr1lOo34y7k" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <p>
      No name. Who were you..? Imagine, write and speak the story and experience of people who no longer can.
    </p>
  </div>
</section>